.table-row {
    @apply flex flex-row w-1/2 justify-between text-black;
    @apply p-2 bg-[#C7C7C7] items-center;
}

.table-row input {
    @apply w-1/2 text-right pr-4 rounded-md bg-[#e8e8e8] border-[1px] border-black;
    appearance: none;
}

.table-row.dark {
    @apply bg-[#3D5158] text-white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
